In [ ]:
from sqlalchemy import create_engine, Column, Integer, String, Float

engine = create_engine('sqlite:///ec401.db', echo = False)

In [4]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

class Students(Base):
    __tablename__ = "students"

    id = Column(Integer, primary_key = True)
    name = Column(String)
    age = Column(Integer)
    avg_score = Column(Float)

Base.metadata.create_all(engine)

In [12]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind = engine)
session = Session()

In [43]:
student_1 = Students(name="Mehrdad",age=25,avg_score=19.75)

In [10]:
# student_1.avg_score

19.75

In [44]:
session.add(student_1)
session.commit()

In [15]:
some_students = [Students(name="Zahra",age=23,avg_score=19.25),
Students(name="Hamid",age=29,avg_score=11)]

In [19]:
some_students[1].name

'Hamid'

In [20]:
session.add_all(some_students)
session.commit()

In [21]:
my_students = [["majid",20,17],["fatemeh",18,16.50]]
my_students

[['majid', 20, 17], ['fatemeh', 18, 16.5]]

In [26]:
students_object = []
for student in my_students:
    # print(student)
    students_object.append(Students(name=student[0],age=student[1],avg_score=student[2]))

print(students_object)
session.add_all(students_object)
session.commit()

[<__main__.Students object at 0x10b46add0>, <__main__.Students object at 0x10b46b520>]

In [27]:
# retrieve data
selected_students = session.query(Students).all()
print(selected_students)

[<__main__.Students object at 0x10b46a9b0>, <__main__.Students object at 0x10b46b670>, <__main__.Students object at 0x10b46b970>, <__main__.Students object at 0x10b46add0>, <__main__.Students object at 0x10b46b520>]

In [31]:
selected_students[4].age

18

In [34]:
selected_student = session.query(Students).first()
print(selected_student.name)

AttributeError: 'Query' object has no attribute 'last'

In [36]:
selected_student = session.query(Students).order_by(Students.age.desc()).first()
print(selected_student.name,selected_student.age)

Hamid 29

In [38]:
mutual_students = session.query(Students).filter(Students.age > 20).all()

for mstudent in mutual_students:
    print(mstudent.name,mstudent.age,mstudent.avg_score)

Mehrdad 25 19.75
Zahra 23 19.25
Hamid 29 11.0

In [42]:
session.rollback()
deletable_student = session.query(Students).filter(Students.id==5).first()
session.delete(deletable_student)
session.commit()

In [49]:
import pandas as pd
from sqlalchemy import or_

q = session.query(Students).filter(or_(Students.age ==20,Students.age==25))

data = pd.read_sql(q.statement, session.connection())
data

   id     name  age  avg_score
0   1  Mehrdad   25      19.75
1   4    majid   20      17.00
2   5  Mehrdad   25      19.75